<nav role="navigation" class="miniNav">
    <ul>        
        <li><a class="nav-button" href="{{ site.baseurl }}/home" data-toggle="tab" data-ajax="false">HOME</a></li>
        <li><a class="nav-button" href="{{ site.baseurl }}/lab" data-toggle="tab" data-ajax="false">LAB</a></li>
        <li><a class="nav-button" href="{{ site.baseurl }}/about" data-toggle="tab" data-ajax="false">ABOUT</a></li>
        <li><a class="github-button" href="https://github.com/pigandshrub/mini-boids-lab" data-toggle="tab" data-ajax="false">
          <img src="{{ site.baseurl }}/images/icons/GitHub-Mark-Light-32px.png" alt="GITHUB" >
       </a></li>
    </ul>
</nav>