

/* Grid */

.row {
    display: -webkit-flex; // Safari 6.1+
    -webkit-flex-wrap: nowrap; // Safari 6.1+
    -webkit-align-items: center; // Safari 6.1+
    -webkit-justify-content: center; // Safari 6.1+
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}


.col-1 {
    width: 8.33%;
}


.col-2 {
    width: 16.66%;
}


.col-3 {
    width: 25%;
    padding: 0;
}


.col-4 {
    width: 33.33%;
}


.col-5 {
    width: 41.66%;
    padding: 0.5em;
}


.col-6 {
    width: 50%;
    padding: 2em;
}


.col-7 {
    width: 58.33%;
}


.col-8 {
    width: 66.66%;
}


.col-9 {
    width: 75%;
}


.col-10 {
    width: 83.33%;
}


.col-11 {
    width: 91.66%;
}


.col-12 {
    width: 100%;
}


/* Grid tweaks */
.wrap {
    -webkit-flex-wrap: wrap; // Safari 6.1+
    flex-wrap: wrap;
}


@media screen and (max-width: $small-screen) {

    .row {
        -webkit-flex-direction: column; // Safari 6.1+
        flex-direction: column;
    }

    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-5,
    .col-4,
    .col-3,
    .col-2 {
        width: 100%;
    }
    
    .col-6 {
        width: 100%;
        padding: 0;
    }
    
    .pad-5 {
        padding: 0;
    }
    
}

